@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color:#fde68a8c;
    font-family: 'Bonheur Royale', cursive;
}
.inputDiv{
    align-items: center;
    display: flex;
    place-content: center;
    margin-bottom: 2rem;
}
.outputDiv{
    align-items: center;
    display: flex;
    place-content: center;
    margin-bottom: 2rem;
}
.text-area{
    height: 30vh;
    width: 80%;
    font-size: 2rem;
    font-family: 'Caveat', cursive;
    border: 2px solid black;
    border-radius: 1rem;
    box-shadow: 10px 9px 5px -7px rgba(33,4,4,0.51);
}
#btn-translate{
    background-color: #4CAF50; 
    border: none;
    color:black;
    padding: 15px 60px;
    border-radius: 0.5rem;  
    box-shadow:gray;
    cursor: pointer;
    font-family: 'Bonheur Royale', cursive;
    font-size: 2rem;
    font-weight: bold;
}
.groot{
    max-width: 30%;
    width: 200px;
    margin: auto;
    display: block;
}
.heading{
    background-color:#fbbe24c2 ;
    text-align: center;
    padding: 1rem 1rem;
    font-size: 1.8rem;
    margin: 2rem;
    border-radius: 0.5rem;
}
.button{
    text-align: center;
}
#btn-translate:hover{
    box-shadow: 0 12 0px;
    box-shadow: 2px 4px 12px -1px rgba(0,0,0,0.37);
    -webkit-box-shadow: 2px 4px 12px -1px rgba(0,0,0,0.37);
    -moz-box-shadow: 2px 4px 12px -1px rgba(0,0,0,0.37);
}
footer{
    background-color:#fbbe24c2 ;
    text-align: center;
    padding: 1rem 1rem;
    text-decoration: none;

}
.footer-img{
    max-width: 10%;
    height: 2rem;
}